<%- include('../partials/header') %>

<h1><%= beer.name %></h1>
<form method="POST" action="/beers/<%= beer._id %>?_method=DELETE">
    <button class="delete" type="submit">Delete</button>
</form>
<hr />
<h3>s:</h3>
<% student.courses.forEach(function(course) { %>
    <p><%= course.name %> - <a href="/students/<%= student._id %>/courses/<%= course._id %>/unenroll">Unenroll</a></p>
<% }); %>

<main>
    <h3>Add a Course for this Student</h3>
    <form method="POST" action="/students/<%= student._id %>/courses">
        <select name="course">
            <% courses.forEach(function(course) { %>
                <option value="<%= course._id %>"><%= course.name %></option>
            <% }); %>
        </select>
        <br>
        <br>
        <input type="submit" value="Add Course">
    </form>
</main>

<%- include('../partials/footer') %>